.left,.right{
    text-align: center;
    height: 100vh;
}
.img-div img{
    border-radius: 30px;
    width: 90%;
    height: 500px;
    /* margin-left: -11%; */
    /* padding-left: 0; */ 
}
.img-div{
    margin: 0;
    margin-top: 3%;
}
.right h1{
    margin-top: 2.5%;
    text-align: left;
}
.right p{
    margin-top: 10%;
    font-size: 15px;
    text-align: left;
    color: grey;
}
.second-div-right{
    margin: 2%;
    width: 90%;
}
.carousel {
    text-align: center;
    margin-top: 2%;
}   
.carousel h1{
    margin: 0;
}
.carousel-img{
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    width: 120px;
    height: 100px;
}
.carousel-img img{
    width: 120px;
    height: 100px;  
    object-fit: cover;
    border-radius: 30px;
}
.active{
    filter: grayscale(3);
}
.play-pause{
    margin-top: 10%;
}