.left,.right{
    text-align: center;
    height: 100vh;
}
.img-div img{
    border-radius: 30px;
    width: 90%;
    height: 500px;
    /* margin-left: -11%; */
    /* padding-left: 0; */ 
    object-fit: cover;

}
.img-div{
    margin: 0;
    margin-top: 3%;
}
.right h1{
    margin-top: 2.5%;
    text-align: left;
}
.right p{
    margin-top: 10%;
    font-size: 15px;
    text-align: left;
    color: grey;
}
.second-div-right{
    margin: 2%;
    width: 90%;
}
.carousel {
    text-align: center;
    margin-top: 2%;
}   
.carousel h1{
    margin: 0;
}
.carousel-img{
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    width: 120px;
    height: 100px;
}
.carousel-img img{
    width: 120px;
    height: 100px;  
    object-fit: cover;
    border-radius: 30px;
}
.active{
    filter: grayscale(3);
}
.play-pause{
    margin-top: 10%;
}
@media screen and (max-width: 1200px) {
    .img-div img{
        border-radius: 30px;
        width: 80%;
        height: 400px;
    }
    .carousel-img{
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 30px;
        width: 90px;
        height: 90px;
    }
    .carousel-img img{
        width: 90px;
        height: 90px;  
        object-fit: cover;
        border-radius: 30px;
    }
    .right p{
        margin-top: 6%;
        font-size: 14px;
        /* text-align: left; */
        /* color: grey; */
    }
    .play-pause{
        margin-top: 8%;
    }
  }
@media screen and (max-width: 1100px) {
    .img-div img{
        border-radius: 30px;
        width: 80%;
        height: 400px;
    }
    .carousel-img{
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 30px;
        width: 80px;
        height: 80px;
    }
    .carousel-img img{
        width: 80px;
        height: 80px;  
        object-fit: cover;
        border-radius: 30px;
    }
    .right p{
        margin-top: 6%;
        font-size: 13px;
        /* text-align: left; */
        /* color: grey; */
    }
    .play-pause{
        margin-top: 8%;
    }
  }
@media screen and (max-width: 1000px) {
    .img-div img{
        border-radius: 30px;
        width: 80%;
        height: 400px;
        object-fit: cover;
        
    }
    .carousel-img{
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 30px;
        width: 70px;
        height: 70px;
    }
    .carousel-img img{
        width: 70px;
        height: 70px;  
        object-fit: cover;
        border-radius: 30px;
    }
    .right p{
        margin-top: 6%;
        font-size: 13px;
        /* text-align: left; */
        /* color: grey; */
    }
    .play-pause{
        margin-top: 8%;
    }
  }
@media screen and (max-width: 950px) {
    .carousel-img{
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 30px;
        width: 60px;
        height: 60px;
    }
    .carousel-img img{
        width: 60px;
        height: 60px;  
        object-fit: cover;
        border-radius: 30px;
    }
  }
@media screen and (max-width: 850px) {
    .carousel-img{
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 30px;
        width: 50px;
        height: 50px;
    }
    .carousel-img img{
        width: 50px;
        height: 50px;  
        object-fit: cover;
        border-radius: 30px;
    }
    .right p{
        margin-top: 6%;
        font-size: 12px;
        /* text-align: left; */
        /* color: grey; */
    }
    .play-pause{
        margin-top: 8%;
    }
  }
@media screen and (max-width: 750px) {
    .carousel-img{
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 30px;
        width: 40px;
        height: 40px;
    }
    .carousel-img img{
        width: 40px;
        height: 40px;  
        object-fit: cover;
        border-radius: 30px;
    }
    .right p{
        margin-top: 6%;
        font-size: 11px;
        /* text-align: left; */
        /* color: grey; */
    }
    .play-pause{
        margin-top: 8%;
    }
  }
@media screen and (max-width: 650px) {
    .carousel-img{
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 30px;
        width: 35px;
        height: 35px;
    }
    .carousel-img img{
        width: 35px;
        height: 35px;  
        object-fit: cover;
        border-radius: 30px;
    }
    .right p{
        margin-top: 6%;
        font-size: 10px;
        /* text-align: left; */
        /* color: grey; */
    }
    .play-pause{
        margin-top: 8%;
    }
  }
@media screen and (max-width: 550px) {
    .carousel-img{
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 30px;
        width: 30px;
        height: 30px;
    }
    .carousel-img img{
        width: 30px;
        height: 30px;  
        object-fit: cover;
        border-radius: 30px;
    }
    .right p{
        margin-top: 6%;
        font-size: 10px;
        /* text-align: left; */
        /* color: grey; */
    }
    .play-pause{
        margin-top: 8%;
    }
    .right h1{
        font-size: 20px;
    }
  }